<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About Us - YourTube</title>
  <link rel="stylesheet" type="text/css" href="../public/css/about.css">
</head>
<body>
  <header>
    <!-- Header content with navigation links (similar to your homepage) -->
  </header>

  <div class="container">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in varius odio. Cras feugiat, libero ac lacinia vestibulum, lorem ipsum consectetur mauris, a euismod justo arcu nec ante. Nullam sit amet metus a velit mattis aliquet. Sed at sapien risus. Nulla et elit nec augue feugiat convallis. Donec interdum, risus vel condimentum vehicula, eros ipsum posuere mi, nec vulputate sapien metus ut erat.
    </p>
    <p>
      Curabitur volutpat odio eu tortor cursus, sit amet lacinia dui laoreet. Duis semper lacinia libero, ac pellentesque velit viverra eget. Sed ullamcorper, purus ac ullamcorper gravida, dui ex condimentum arcu, vel consequat odio lorem in libero. Ut nec luctus arcu. In hac habitasse platea dictumst.
    </p>
    <p>
      Fusce non arcu a ex pellentesque dignissim in eget justo. Praesent nec nulla aliquam, cursus justo eget, tristique libero. Nulla in neque a massa vehicula euismod. Quisque eu tincidunt lectus, sit amet blandit enim. Aenean nec rhoncus quam. Integer vulputate facilisis sem, eget placerat orci malesuada ac.
    </p>
  </div>
</body>
</html>
