/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #313866; /* Light gray */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Form container */
  .container {
    background-color: #f5f5f5; /* Lighter gray */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  /* Heading styling */
  h1{
    text-align: center;
    color: #964ec2; /* Dark gray */
    margin-bottom: 20px;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
      
}
  
  /* Label styling */
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #313866; /* Darker gray */
  }
  
  /* Input fields */
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd; /* Light gray */
    border-radius: 5px;
  }
  
  /* Button styling */
  button {
    background-color: #ff7bbf; /* Pastel blue */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #50409a; /* Slightly darker blue on hover */
  }
  